<h1>{{title}}</h1>
<p>{{nl2br description}}</p>
<img src="someimage.png" alt="{{_ "Image description"}}" />
<p>{{_ "This is a fixed sentence"}}</p>
<p>{{_ "Multiline
text"}}</p>
<p>{{_ "This is a new sentence"}}</p>
