<h1>{{title}}</h1>
<p>{{translate "This is a fixed sentence"}}</p>
<p>{{gettext "This is a fixed sentence with a default keyword"}}</p>
<p>{{nl2br description}}</p>
<img src="someimage.png" alt="{{i18n "Image description"}}" />
{{$ "regex escaped keyword"}}